.parentClass .link {
    text-decoration: none;
}

.parentClass a {
    color: var(--main-color-book);
}

.parentClass .list {
    list-style: none;
}

.parentClass button {
    cursor: pointer;
}

.parentClass img {
    display: block;
}

.parentClass  {
    font-family: var(--secFont);
    min-height: 100%;
    font-weight: var(--secFontWeight);
}

.parentClass hr.divider {
    border-color: #F0F0F0;
    opacity: 1;
}

.parentClass .vc-chrome {
    font-family: var(--secFont) !important;
}
body[style*="theme-color"]:has(.parentClass) {
    overflow: auto;
}

.parentClass {
    background-color: #fff !important;
}