.parentClass nav.navbar.border-bottom {
    border-bottom: 1px solid var(--border-color);
    padding: 14px 0px 14px 0px;
    height: 69px;
    box-sizing: border-box;
    z-index: 1060;

    .image.rounded-circle+span {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn {
        align-self: center;
    }

    .name.fs-20 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        line-height: 1.2;
        text-overflow: ellipsis;
        max-width: 200px;
        white-space: nowrap;
    }

    .nav-item.dropdown {
        display: flex;
    }

    .menu-toggle-wrap.ms-4,
    .ms-40 {
        margin-inline-start: calc(var(--fontSize) * 1) !important;
    }

    .logo {
        width: calc(61px - 14px);
        transition: 0.2s ease-in-out;

        .logo_small {
            max-height: 40px;
            display: block;
            opacity: 1;
        }

        .logo_full {
            display: none;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
    }

    .logo_short {
        display: block;
        max-width: 160px;
        max-height: 40px;
        opacity: 1;
    }
    

    .logo.is_expanded {
        width: calc(220px - 27px);
        margin-left: 14px;

        .logo_full {
            display: block;
            max-width: 160px;
            max-height: 40px;
            opacity: 1;
        }

        .logo_small {
            display: none;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }

    }

    .menu-toggle:focus {
        outline: none;
        color: var(--main-color-book) !important;
    }

    .menu-toggle:focus {
        fill: currentColor !important;
    }

    .dropdown-menu.show {
        display: block;
        right: 0px;
        left: auto !important;
    }

    @media screen and (max-width:768px) {
        padding: 14px;

    }


    @media screen and (max-width:768px) {
        .dropdown::before {
            content: none !important;
        }
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: var(--main-color-book);
    }
}