@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf);
}
@font-face {
  font-family: "Open Sans Hebrew";
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf);
}
.mh-100 {
  max-height: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.order-first {
  order: -1 !important;
}

.order-0 {
  order: 0 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

@media (min-width: 1200px) {
  .sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.align-self-start {
  flex-grow: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.z-1 {
  z-index: 1;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

@media (min-width: 1900px) {
  .container {
    max-width: 1780px;
  }
}

.link {
  text-decoration: none;
}

a {
  color: var(--main-color-book);
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

html {
  height: 100%;
}

body {
  font-family: var(--secFont);
  min-height: 100%;
  font-weight: var(--secFontWeight);
}

hr.divider {
  border-color: #F0F0F0;
  opacity: 1;
}

.vc-chrome {
  font-family: var(--secFont) !important;
}

body[style*=theme-color] {
  background-color: transparent !important;
  background-image: none;
  overflow: auto;
}

:root {
  --fontSize: 16px;
}

.fw-500 {
  font-weight: 500;
}

.fw-bold {
  font-weight: calc(var(--mainFontWeight) + 200);
}

.fs-18 {
  font-size: calc(var(--fontSize) * 1.125);
}

.fs-22 {
  font-size: calc(var(--fontSize) * 1.375);
  /* 22 / 16 */
}

.fs-16 {
  font-size: var(--fontSize);
  /* 16 / 16 */
}

.fs-12 {
  font-size: calc(var(--fontSize) * 0.75);
  /* 12 / 16 */
}

.fs-14 {
  font-size: calc(var(--fontSize) * 0.875);
  /* 14 / 16 */
}

.fs-20 {
  font-size: calc(var(--fontSize) * 1.25);
  /* 20 / 16 */
}

.fs-24 {
  font-size: calc(var(--fontSize) * 1.5);
}
@media screen and (max-width: 992px) {
  .fs-24 {
    font-size: calc(var(--fontSize) * 1);
  }
}

.fs-28 {
  font-size: calc(var(--fontSize) * 1.75);
}
@media screen and (max-width: 992px) {
  .fs-28 {
    font-size: calc(var(--fontSize) * 1.17);
  }
}

.fs-32 {
  font-size: calc(var(--fontSize) * 2);
  /* 32 / 16 */
}

.fs-34 {
  font-size: calc(var(--fontSize) * 2.125);
}
@media screen and (max-width: 992px) {
  .fs-34 {
    font-size: calc(var(--fontSize) * 1.42);
  }
}

.mt-90 {
  margin-top: calc(var(--fontSize) * 5.625);
  /* 90 / 16 */
}

.mt-60 {
  margin-top: calc(var(--fontSize) * 3.75);
  /* 60 / 16 */
}

.mt-32 {
  margin-top: calc(var(--fontSize) * 2);
  /* 32 / 16 */
}

.mt-37 {
  margin-top: calc(var(--fontSize) * 2.3125);
  /* 37 / 16 */
}

.mb-32 {
  margin-bottom: calc(var(--fontSize) * 2);
  /* 32 / 16 */
}

.mb-40 {
  margin-bottom: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
}

.mb-50 {
  margin-bottom: calc(var(--fontSize) * 3.125);
  /* 50 / 16 */
}

.pt-40 {
  padding-block-start: calc(var(--fontSize) * 2.5) !important;
  /* 40 / 16 */
}

h1 {
  font-family: var(--mainFont);
  font-size: calc(var(--fontSize) * 3.75);
  /* 60 / 16 */
  font-weight: var(--mainFontWeight);
  line-height: 1.2;
  text-align: left;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: calc(var(--fontSize) * 2.5);
    /* 40 / 16 */
  }
}

h2 {
  font-family: var(--mainFont);
  /* 60 / 16 */
  font-weight: var(--mainFontWeight);
  font-size: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
  color: #121434;
}

.me-36 {
  margin-right: calc(var(--fontSize) * 2.25);
  /* 36 / 16 */
}

.me-40 {
  margin-inline-end: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
}

.ms-40 {
  margin-inline-start: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
}

:root {
  --mainFont: "Abril Fatface", serif;
  --secFont: "Montserrat", sans-serif;
  --main-color-book: #A2224C;
  --border-color: #E1E1E1;
  --theme-color: #A2224C;
  --sec-color: #93989B;
  --mainFontWeight: 400;
  --secFontWeight: 400;
}

.main-color {
  fill: var(--theme-color) !important;
}

.sec-color {
  fill: var(--sec-color) !important;
}

.sec-font {
  font-family: var(--secFont);
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color-book) #f2f2f2;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--main-color-book);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--sec-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--sec-color);
}

nav.navbar.border-bottom {
  border-bottom: 1px solid var(--border-color);
  padding: 14px 0px 14px 0px;
  height: 69px;
  box-sizing: border-box;
  z-index: 1060;
}
nav.navbar.border-bottom .logo {
  width: 47px;
  transition: 0.2s ease-in-out;
}
nav.navbar.border-bottom .logo .logo_small {
  max-height: 40px;
  display: block;
  opacity: 1;
}
nav.navbar.border-bottom .logo .logo_full {
  display: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
nav.navbar.border-bottom .logo.is_expanded {
  width: 193px;
  margin-left: 14px;
}
nav.navbar.border-bottom .logo.is_expanded .logo_full {
  display: block;
  max-width: 160px;
  max-height: 40px;
  opacity: 1;
}
nav.navbar.border-bottom .logo.is_expanded .logo_small {
  display: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
nav.navbar.border-bottom .menu-toggle:focus {
  outline: none;
  color: var(--theme-color) !important;
}
nav.navbar.border-bottom .menu-toggle:focus {
  fill: currentColor !important;
}
@media screen and (max-width: 768px) {
  nav.navbar.border-bottom {
    padding: 14px;
  }
}

aside {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E1E1E1;
  background-color: #fff;
  color: #343434;
  width: 61px;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  padding: 8px;
  transition: 0.2s ease-in-out;
}
aside .flex {
  flex: 1 1 0%;
}
aside .logo {
  margin-bottom: 1rem;
}
aside .logo img {
  width: 2rem;
}
aside .menu-item .text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
aside .menu:first-child {
  margin-top: 80px;
}
aside .menu {
  margin: 0;
}
aside .menu > ul {
  list-style: none;
  padding: 0px;
}
aside .menu > ul > li:not(:last-child) {
  margin-bottom: 4px;
}
aside .menu .menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #343434;
  gap: 17px;
  transition: 0.2s ease-in-out;
  padding-left: 0px;
  min-height: 36px;
}
aside .menu .menu-item.active {
  box-shadow: 0 0 0 100px var(--main-color-book) inset;
  border-radius: 8px;
  color: #fff;
}
aside .menu .menu-item .menu-icon {
  fill: currentColor;
  margin-inline-start: 9px;
}
aside .menu .menu-item .icon.icon-menu-space,
aside .menu .menu-item .icon.icon-menu-misuse,
aside .menu .menu-item .icon.icon-menu-feature,
aside .menu .menu-item .icon.icon-menu-palette {
  fill: none;
  stroke: currentColor;
}
aside .menu .menu-item .text {
  color: currentColor;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0s, 250ms;
  font-size: 14px;
  font-weight: var(--secFontWeight);
  line-height: 1.2;
  text-align: left;
  width: -moz-max-content;
  width: max-content;
  word-break: keep-all;
  white-space: nowrap;
}
aside .powered {
  font-weight: var(--secFontWeight);
  line-height: 1.2;
  text-align: left;
  gap: 2px;
  margin-bottom: 14px;
  font-size: 0px;
  opacity: 0;
}
aside .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.25) !important;
  margin: 0 -8px;
  padding: 16px 8px 8px;
}
aside.is_expanded {
  width: 220px;
}
aside.is_expanded .menu-item .text {
  opacity: 1;
}
aside.is_expanded .powered {
  font-size: 8px;
  opacity: 0.5;
}
@media screen and (max-width: 1200px) {
  aside {
    position: sticky;
    top: 0px;
  }
}
@media (max-width: 1024px) {
  aside {
    position: fixed;
    z-index: 99;
    top: 0px;
    bottom: 0px;
  }
}

@media screen and (max-height: 700px) {
  aside .menu:first-child {
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.btn {
  display: flex;
  align-items: center;
  transition: all 300ms linear;
  font-weight: var(--secFontWeight);
}

.main-btn {
  background-color: var(--main-color-book);
  padding: 0 16px;
  min-height: 38px;
  border-radius: 45px;
  border: 0px solid;
  font-size: 16px;
  font-weight: calc(var(--secFontWeight) + 100);
  text-align: left;
  color: #FFFFFF;
}
.main-btn:hover {
  background-color: #000;
  color: #FFFFFF;
}
.main-btn svg {
  fill: currentColor;
}

.sec-btn {
  border: 1px solid #000000;
  background-color: #fff;
  font-size: 16px;
  font-weight: calc(var(--secFontWeight) + 100);
  text-align: left;
  gap: 5px;
  padding: 0 16px;
  min-height: 38px;
  border-radius: 45px;
}
.sec-btn:hover {
  border-color: var(--main-color-book);
  color: var(--main-color-book);
}
.sec-btn svg {
  fill: currentColor;
}

.third-btn {
  border: 1px solid #000000;
  background: #ECECEC;
  font-size: 16px;
  font-weight: calc(var(--secFontWeight) + 100);
  text-align: left;
  gap: 5px;
  padding: 0 16px;
  min-height: 38px;
  border-radius: 45px;
}
.third-btn svg {
  fill: currentColor;
}
.third-btn:hover {
  border-color: var(--main-color-book);
  color: var(--main-color-book);
}

.brandbooks {
  font-weight: calc(var(--secFontWeight) + 100);
  color: #000;
}

.section-book {
  padding: 88px 0px 0px 98px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .section-book {
    min-height: unset;
  }
}
@media screen and (max-width: 992px) {
  .section-book {
    padding: 60px 20px 40px 80px;
  }
}
.section-book .content {
  max-width: 550px;
}
.section-book#versions-book .content, .section-book#logo-book .content, .section-book#values-book .content, .section-book#space-book .content, .section-book#palette-book .content, .section-book#fonts-book .content {
  max-width: 660px;
}
.section-book#proportions-book .content {
  max-width: 720px;
}
.section-book .bg {
  font-family: var(--mainFont);
  color: #f2f2f2;
  font-size: 629.97px;
  font-weight: var(--mainFontWeight);
  line-height: 482.97px;
  text-align: left;
  position: absolute;
  z-index: -1;
  left: 0px;
  bottom: 0px;
}
.section-book .bg-img {
  position: absolute;
  z-index: -10;
  left: -100px;
  top: -150px;
}
.section-book .bg-img svg {
  fill: #F2F2F2;
}

#designer-book {
  padding: 105px 93px 136px;
  background: #F2F2F2;
}
#designer-book .content {
  max-width: 820px;
}
@media screen and (max-width: 992px) {
  #designer-book {
    padding: 60px 20px 40px 80px;
  }
}

.simple-pantone-color {
  min-width: 170px;
}

.simple-pantone-color .pantone-color-wrap {
  width: 137px;
  height: 248px;
  padding: 8px 8px 42px;
  border: 1.3px solid #c5c3c3;
  box-shadow: 5.2px 5.2px 19.51px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 0 auto 9px;
}

.simple-pantone-color .color-name {
  font-size: 13.05px;
  font-weight: var(--secFontWeight);
  line-height: 23.3px;
  text-align: center;
}

.simple-pantone-color .color-value {
  display: grid;
  grid-template-columns: auto 60%;
  gap: 4px 13px;
  margin-top: 8px;
  max-width: 170px;
}

.simple-pantone-color .color-value .name {
  font-size: 10px;
  font-weight: var(--secFontWeight);
  line-height: 20px;
  text-align: right;
  color: #999;
}

.simple-pantone-color .color-value .value {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  text-wrap: wrap;
}

.add-pantone-color {
  min-width: 170px;
}

.add-pantone-color .pantone-color-wrap {
  width: 137px;
  height: 248px;
  padding: 8px 8px 42px;
  border: 1.3px solid #c5c3c3;
  box-shadow: 5.2px 5.2px 19.51px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 0 auto 9px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.add-pantone-color .shade {
  height: 30px;
}

.add-pantone-color .color-name {
  font-size: 13.05px;
  font-weight: var(--secFontWeight);
  line-height: 23.3px;
  text-align: center;
}

.add-pantone-color .color-value {
  display: grid;
  grid-template-columns: auto 60%;
  gap: 4px 13px;
  margin-top: 8px;
  max-width: 170px;
}

.add-pantone-color .color-value .name {
  font-size: 10px;
  font-weight: var(--secFontWeight);
  line-height: 20px;
  text-align: right;
  color: #999;
}

.add-pantone-color .color-value .value {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  text-wrap: wrap;
}

.hex-inside {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  font-weight: var(--secFontWeight);
  line-height: 0.1;
  text-align: center;
  color: #fff;
  top: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.shade .hex-inside {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  position: unset;
  transform: none;
  align-items: center;
  justify-content: center;
}

.pantone-color-wrap > .shade ~ .input-group + .hex-inside,
.simple-pantone-color .hex-inside {
  top: 36%;
  position: absolute;
  font-size: 14px;
}

.pantone-color-wrap {
  position: relative;
}

.pantone-color-wrap > .shade ~ .input-group {
  max-height: calc(100% - 96px);
}

.font-block {
  margin-top: 150px;
}
@media screen and (max-width: 992px) {
  .font-block {
    margin-top: 50px;
  }
}
.font-block .group-samples {
  margin-top: 52px;
  gap: 52px;
}
@media screen and (max-width: 992px) {
  .font-block .group-samples {
    margin-top: 25px;
    gap: 25px;
  }
}
.font-block .font-name {
  font-size: 46px;
  font-weight: var(--secFontWeight);
  line-height: 33.5px;
  text-align: left;
}
.font-block .font-value {
  font-size: 16px;
  font-weight: var(--secFontWeight);
  text-align: left;
}
.font-block .font-weight-name {
  font-style: italic;
  font-weight: calc(var(--secFontWeight) + 100);
}
.font-block .first-letter {
  font-size: 34.77px;
  text-align: center;
  min-width: 97px;
  min-height: 68px;
  border-right: 2px solid #000;
}
@media screen and (max-width: 992px) {
  .font-block .first-letter {
    border-right: 0px solid #000;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
  }
}
.font-block .first-letter .company-name {
  font-size: 11.92px;
  line-height: 16.75px;
  text-align: center;
}
.font-block .font-sample {
  color: #58585A;
}
@media screen and (max-width: 992px) {
  .font-block .alphabet {
    font-size: 16px;
  }
}

.modal .modal-header {
  border-color: #E1E1E1;
}
.modal .btn-close {
  opacity: 1;
  top: 16px;
  right: 20px;
  background-image: url('data:image/svg+xml,%3Csvg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1.17396 1.23472L24.9476 26.2595M24.2671 1.86011L1.17396 25.6341" stroke="black" stroke-width="3"/%3E%3C/svg%3E');
  background-color: transparent;
  border: 0px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
}
.modal .block-divide {
  position: relative;
  padding: 20px 0;
}
.modal .block-divide:before, .modal .block-divide:after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #E1E1E1;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 0px;
  bottom: 0px;
}
@media (max-width: 1200px) {
  .modal .block-divide:before, .modal .block-divide:after {
    content: none;
  }
}
.modal .block-divide:after {
  top: auto;
  height: 1px;
  width: calc(100% + 60px);
  left: -30px;
}
.modal .sec-block-divide > .col:first-child {
  position: relative;
}
.modal .sec-block-divide > .col:first-child:before {
  content: "";
  height: 1px;
  width: calc(100% + 30px);
  background-color: #E1E1E1;
  top: calc(100% + 1px);
  position: absolute;
  left: 0;
  right: 0px;
  order: 1;
}
@media (max-width: 1200px) {
  .modal .sec-block-divide > .col:first-child:before {
    content: none;
  }
}
.modal .icon-official {
  color: var(--main-color-book);
}

@media (min-width: 1200px) {
  .modal-1000 {
    --bs-modal-width: 1000px;
    max-width: 1000px;
  }
  .modal-1000 .modal-body {
    padding: 0px 30px;
  }
  .modal-1000 .modal-content {
    border-radius: 28px;
  }
}
@media (max-width: 1200px) {
  .modal-1000 .changeable {
    border-top: 1px solid #E1E1E1;
  }
  .modal-1000 .changeable .border-end {
    border-right: 0px solid transparent !important;
  }
}
body {
  --vs-colors--lightest: rgba(60, 60, 60, 0.26);
  --vs-colors--light: rgba(60, 60, 60, 0.5);
  --vs-colors--dark: #333;
  --vs-colors--darkest: rgba(0, 0, 0, 0.15);
  /* Search Input */
  --vs-search-input-color: inherit;
  --vs-search-input-bg: rgb(255, 255, 255);
  --vs-search-input-placeholder-color: inherit;
  /* Font */
  --vs-font-size: 14px;
  --vs-line-height: 1.5;
  /* Disabled State */
  --vs-state-disabled-bg: rgb(248, 248, 248);
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;
  /* Borders */
  --vs-border-color: #000;
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 34px;
  /* Actions: house the component controls */
  --vs-actions-padding: 4px 6px 0 3px;
  /* Component Controls: Clear, Open Indicator */
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;
  /* Selected */
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);
  /* Dropdown */
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: inherit;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 160px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);
  /* Options */
  --vs-dropdown-option-bg: #000;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;
  /* Active State */
  --vs-dropdown-option--active-bg: var(--main-color-book);
  --vs-dropdown-option--active-color: #fff;
  /* Deselect State */
  --vs-dropdown-option--deselect-bg: #fb5858;
  --vs-dropdown-option--deselect-color: #fff;
  /* Transitions */
  --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  --vs-transition-duration: 150ms;
}
body .v-select {
  font-size: 14px;
}
body .vs__dropdown-toggle {
  padding: 0 16px;
  height: 30px;
}
body .vs--single .vs__selected,
body .vs__selected-options,
body .vs__search {
  padding: 0px !important;
  margin: 0px !important;
}
body .vs__open-indicator {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.82733 4.88848L0.913934 2.23994C0.237605 1.6251 0.672575 0.5 1.58661 0.5L7.41339 0.5C8.32743 0.5 8.76239 1.6251 8.08606 2.23994L5.17267 4.88848C4.79125 5.23523 4.20875 5.23523 3.82733 4.88848Z' fill='black'/%3e%3c/svg%3e ");
  fill: transparent;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
}
body .vs__clear {
  display: none;
}
body .vs--open .vs__dropdown-toggle {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
body .vs__dropdown-menu {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}/*# sourceMappingURL=main.css.map */