@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf);
}
@font-face {
  font-family: "Open Sans Hebrew";
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf);
}
.parentClass .mh-100 {
  max-height: 100% !important;
}

.parentClass .vh-100 {
  height: 100vh !important;
}

.parentClass .min-vh-100 {
  min-height: 100vh !important;
}

.parentClass .flex-fill {
  flex: 1 1 auto !important;
}

.parentClass .flex-row {
  flex-direction: row !important;
}

.parentClass .flex-column {
  flex-direction: column !important;
}

.parentClass .flex-row-reverse {
  flex-direction: row-reverse !important;
}

.parentClass .flex-column-reverse {
  flex-direction: column-reverse !important;
}

.parentClass .flex-grow-0 {
  flex-grow: 0 !important;
}

.parentClass .flex-grow-1 {
  flex-grow: 1 !important;
}

.parentClass .flex-shrink-0 {
  flex-shrink: 0 !important;
}

.parentClass .flex-shrink-1 {
  flex-shrink: 1 !important;
}

.parentClass .flex-wrap {
  flex-wrap: wrap !important;
}

.parentClass .flex-nowrap {
  flex-wrap: nowrap !important;
}

.parentClass .flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.parentClass .gap-0 {
  gap: 0 !important;
}

.parentClass .gap-1 {
  gap: 0.25rem !important;
}

.parentClass .gap-2 {
  gap: 0.5rem !important;
}

.parentClass .gap-3 {
  gap: 1rem !important;
}

.parentClass .gap-4 {
  gap: 1.5rem !important;
}

.parentClass .gap-5 {
  gap: 3rem !important;
}

.parentClass .justify-content-start {
  justify-content: flex-start !important;
}

.parentClass .justify-content-end {
  justify-content: flex-end !important;
}

.parentClass .justify-content-center {
  justify-content: center !important;
}

.parentClass .justify-content-between {
  justify-content: space-between !important;
}

.parentClass .justify-content-around {
  justify-content: space-around !important;
}

.parentClass .justify-content-evenly {
  justify-content: space-evenly !important;
}

.parentClass .align-items-start {
  align-items: flex-start !important;
}

.parentClass .align-items-end {
  align-items: flex-end !important;
}

.parentClass .align-items-center {
  align-items: center !important;
}

.parentClass .align-items-baseline {
  align-items: baseline !important;
}

.parentClass .align-items-stretch {
  align-items: stretch !important;
}

.parentClass .align-content-start {
  align-content: flex-start !important;
}

.parentClass .align-content-end {
  align-content: flex-end !important;
}

.parentClass .align-content-center {
  align-content: center !important;
}

.parentClass .align-content-between {
  align-content: space-between !important;
}

.parentClass .align-content-around {
  align-content: space-around !important;
}

.parentClass .align-content-stretch {
  align-content: stretch !important;
}

.parentClass .align-self-auto {
  align-self: auto !important;
}

.parentClass .align-self-start {
  align-self: flex-start !important;
}

.parentClass .align-self-end {
  align-self: flex-end !important;
}

.parentClass .align-self-center {
  align-self: center !important;
}

.parentClass .align-self-baseline {
  align-self: baseline !important;
}

.parentClass .align-self-stretch {
  align-self: stretch !important;
}

.parentClass .order-first {
  order: -1 !important;
}

.parentClass .order-0 {
  order: 0 !important;
}

.parentClass .order-1 {
  order: 1 !important;
}

.parentClass .order-2 {
  order: 2 !important;
}

.parentClass .order-3 {
  order: 3 !important;
}

.parentClass .order-4 {
  order: 4 !important;
}

.parentClass .order-5 {
  order: 5 !important;
}

.parentClass .order-last {
  order: 6 !important;
}

.parentClass .m-0 {
  margin: 0 !important;
}

.parentClass .m-1 {
  margin: 0.25rem !important;
}

.parentClass .m-2 {
  margin: 0.5rem !important;
}

.parentClass .m-3 {
  margin: 1rem !important;
}

.parentClass .m-4 {
  margin: 1.5rem !important;
}

.parentClass .m-5 {
  margin: 3rem !important;
}

.parentClass .m-auto {
  margin: auto !important;
}

.parentClass .mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.parentClass .mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.parentClass .mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.parentClass .mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.parentClass .mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.parentClass .mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.parentClass .mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.parentClass .my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.parentClass .my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.parentClass .my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.parentClass .my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.parentClass .my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.parentClass .my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.parentClass .my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.parentClass .mt-0 {
  margin-top: 0 !important;
}

.parentClass .mt-1 {
  margin-top: 0.25rem !important;
}

.parentClass .mt-2 {
  margin-top: 0.5rem !important;
}

.parentClass .mt-3 {
  margin-top: 1rem !important;
}

.parentClass .mt-4 {
  margin-top: 1.5rem !important;
}

.parentClass .mt-5 {
  margin-top: 3rem !important;
}

.parentClass .mt-auto {
  margin-top: auto !important;
}

.parentClass .me-0 {
  margin-right: 0 !important;
}

.parentClass .me-1 {
  margin-right: 0.25rem !important;
}

.parentClass .me-2 {
  margin-right: 0.5rem !important;
}

.parentClass .me-3 {
  margin-right: 1rem !important;
}

.parentClass .me-4 {
  margin-right: 1.5rem !important;
}

.parentClass .me-5 {
  margin-right: 3rem !important;
}

.parentClass .me-auto {
  margin-right: auto !important;
}

.parentClass .mb-0 {
  margin-bottom: 0 !important;
}

.parentClass .mb-1 {
  margin-bottom: 0.25rem !important;
}

.parentClass .mb-2 {
  margin-bottom: 0.5rem !important;
}

.parentClass .mb-3 {
  margin-bottom: 1rem !important;
}

.parentClass .mb-4 {
  margin-bottom: 1.5rem !important;
}

.parentClass .mb-5 {
  margin-bottom: 3rem !important;
}

.parentClass .mb-auto {
  margin-bottom: auto !important;
}

.parentClass .ms-0 {
  margin-left: 0 !important;
}

.parentClass .ms-1 {
  margin-left: 0.25rem !important;
}

.parentClass .ms-2 {
  margin-left: 0.5rem !important;
}

.parentClass .ms-3 {
  margin-left: 1rem !important;
}

.parentClass .ms-4 {
  margin-left: 1.5rem !important;
}

.parentClass .ms-5 {
  margin-left: 3rem !important;
}

.parentClass .ms-auto {
  margin-left: auto !important;
}

.parentClass .p-0 {
  padding: 0 !important;
}

.parentClass .p-1 {
  padding: 0.25rem !important;
}

.parentClass .p-2 {
  padding: 0.5rem !important;
}

.parentClass .p-3 {
  padding: 1rem !important;
}

.parentClass .p-4 {
  padding: 1.5rem !important;
}

.parentClass .p-5 {
  padding: 3rem !important;
}

.parentClass .px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.parentClass .px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.parentClass .px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.parentClass .px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.parentClass .px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.parentClass .px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.parentClass .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.parentClass .py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.parentClass .py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.parentClass .py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.parentClass .py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.parentClass .py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.parentClass .pt-0 {
  padding-top: 0 !important;
}

.parentClass .pt-1 {
  padding-top: 0.25rem !important;
}

.parentClass .pt-2 {
  padding-top: 0.5rem !important;
}

.parentClass .pt-3 {
  padding-top: 1rem !important;
}

.parentClass .pt-4 {
  padding-top: 1.5rem !important;
}

.parentClass .pt-5 {
  padding-top: 3rem !important;
}

.parentClass .pe-0 {
  padding-right: 0 !important;
}

.parentClass .pe-1 {
  padding-right: 0.25rem !important;
}

.parentClass .pe-2 {
  padding-right: 0.5rem !important;
}

.parentClass .pe-3 {
  padding-right: 1rem !important;
}

.parentClass .pe-4 {
  padding-right: 1.5rem !important;
}

.parentClass .pe-5 {
  padding-right: 3rem !important;
}

.parentClass .pb-0 {
  padding-bottom: 0 !important;
}

.parentClass .pb-1 {
  padding-bottom: 0.25rem !important;
}

.parentClass .pb-2 {
  padding-bottom: 0.5rem !important;
}

.parentClass .pb-3 {
  padding-bottom: 1rem !important;
}

.parentClass .pb-4 {
  padding-bottom: 1.5rem !important;
}

.parentClass .pb-5 {
  padding-bottom: 3rem !important;
}

.parentClass .ps-0 {
  padding-left: 0 !important;
}

.parentClass .ps-1 {
  padding-left: 0.25rem !important;
}

.parentClass .ps-2 {
  padding-left: 0.5rem !important;
}

.parentClass .ps-3 {
  padding-left: 1rem !important;
}

.parentClass .ps-4 {
  padding-left: 1.5rem !important;
}

.parentClass .ps-5 {
  padding-left: 3rem !important;
}

@media (min-width: 1200px) {
  .parentClass .sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.parentClass .align-self-start {
  flex-grow: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.parentClass .z-1 {
  z-index: 1;
}

.parentClass .text-decoration-underline {
  text-decoration: underline !important;
}

.parentClass section {
  flex-basis: fit-content;
}

@media (min-width: 1900px) {
  .parentClass .container {
    max-width: 1780px;
  }
}

.parentClass .link {
  text-decoration: none;
}

.parentClass a {
  color: var(--main-color-book);
}

.parentClass .list {
  list-style: none;
}

.parentClass button {
  cursor: pointer;
}

.parentClass img {
  display: block;
}

.parentClass {
  font-family: var(--secFont);
  min-height: 100%;
  font-weight: var(--secFontWeight);
}

.parentClass hr.divider {
  border-color: #F0F0F0;
  opacity: 1;
}

.parentClass .vc-chrome {
  font-family: var(--secFont) !important;
}

body[style*=theme-color]:has(.parentClass) {
  overflow: auto;
}

.parentClass {
  background-color: #fff !important;
}

:root {
  --fontSize: 16px;
}

.parentClass .fw-500 {
  font-weight: 500;
}

.parentClass .fw-bold {
  font-weight: calc(var(--mainFontWeight) + 200);
}

.parentClass .fs-18 {
  font-size: calc(var(--fontSize) * 1.125);
}

.parentClass .fs-22 {
  font-size: calc(var(--fontSize) * 1.375);
  /* 22 / 16 */
}

.parentClass .fs-16 {
  font-size: var(--fontSize);
  /* 16 / 16 */
}

.parentClass .fs-12 {
  font-size: calc(var(--fontSize) * 0.75);
  /* 12 / 16 */
}

.parentClass .fs-14 {
  font-size: calc(var(--fontSize) * 0.875);
  /* 14 / 16 */
}

.parentClass .fs-20 {
  font-size: calc(var(--fontSize) * 1.25);
  /* 20 / 16 */
}

.parentClass .fs-24 {
  font-size: calc(var(--fontSize) * 1.5);
}
@media screen and (max-width: 992px) {
  .parentClass .fs-24 {
    font-size: calc(var(--fontSize) * 1);
  }
}

.parentClass .fs-28 {
  font-size: calc(var(--fontSize) * 1.75);
}
@media screen and (max-width: 992px) {
  .parentClass .fs-28 {
    font-size: calc(var(--fontSize) * 1.17);
  }
}

.parentClass .fs-32 {
  font-size: calc(var(--fontSize) * 2);
  /* 32 / 16 */
}

.parentClass .fs-34 {
  font-size: calc(var(--fontSize) * 2.125);
}
@media screen and (max-width: 992px) {
  .parentClass .fs-34 {
    font-size: calc(var(--fontSize) * 1.42);
  }
}

.parentClass .mt-90 {
  margin-top: calc(var(--fontSize) * 5.625);
  /* 90 / 16 */
}

.parentClass .mt-60 {
  margin-top: calc(var(--fontSize) * 3.75);
  /* 60 / 16 */
}

.parentClass .mt-32 {
  margin-top: calc(var(--fontSize) * 2);
  /* 32 / 16 */
}

.parentClass .mt-37 {
  margin-top: calc(var(--fontSize) * 2.3125);
  /* 37 / 16 */
}

.parentClass .mb-32 {
  margin-bottom: calc(var(--fontSize) * 2);
  /* 32 / 16 */
}

.parentClass .mb-40 {
  margin-bottom: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
}

.parentClass .mb-50 {
  margin-bottom: calc(var(--fontSize) * 3.125);
  /* 50 / 16 */
}

.parentClass .pt-40 {
  padding-block-start: calc(var(--fontSize) * 2.5) !important;
  /* 40 / 16 */
}

.parentClass h1 {
  font-family: var(--mainFont);
  font-size: calc(var(--fontSize) * 3.75);
  /* 60 / 16 */
  font-weight: var(--mainFontWeight);
  line-height: 1.2;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .parentClass h1 {
    font-size: calc(var(--fontSize) * 2.5);
    /* 40 / 16 */
  }
}

.parentClass h2 {
  font-family: var(--mainFont);
  /* 60 / 16 */
  font-weight: var(--mainFontWeight);
  font-size: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
  color: #121434;
}

.parentClass .me-36 {
  margin-right: calc(var(--fontSize) * 2.25);
  /* 36 / 16 */
}

.parentClass .me-40 {
  margin-inline-end: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
}

.parentClass .ms-40 {
  margin-inline-start: calc(var(--fontSize) * 2.5);
  /* 40 / 16 */
}

:root {
  --mainFont: "Abril Fatface", serif;
  --secFont: "Montserrat", sans-serif;
  --main-color-book: #A2224C;
  --border-color: #E1E1E1;
  --theme-color: #A2224C;
  --sec-color: #93989B;
  --mainFontWeight: 400;
  --secFontWeight: 400;
}

.parentClass .main-color {
  fill: var(--theme-color) !important;
}

.parentClass .sec-color {
  fill: var(--sec-color) !important;
}

.parentClass .sec-font {
  font-family: var(--secFont);
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color-book) #f2f2f2;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--main-color-book);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--sec-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--sec-color);
}

.parentClass nav.navbar.border-bottom {
  border-bottom: 1px solid var(--border-color);
  padding: 14px 0px 14px 0px;
  height: 69px;
  box-sizing: border-box;
  z-index: 1060;
}
.parentClass nav.navbar.border-bottom .logo {
  width: 47px;
  transition: 0.2s ease-in-out;
}
.parentClass nav.navbar.border-bottom .logo .logo_small {
  max-height: 40px;
  display: block;
  opacity: 1;
}
.parentClass nav.navbar.border-bottom .logo .logo_full {
  display: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.parentClass nav.navbar.border-bottom .logo.is_expanded {
  width: 193px;
  margin-left: 14px;
}
.parentClass nav.navbar.border-bottom .logo.is_expanded .logo_full {
  display: block;
  max-width: 160px;
  max-height: 40px;
  opacity: 1;
}
.parentClass nav.navbar.border-bottom .logo.is_expanded .logo_small {
  display: none;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.parentClass nav.navbar.border-bottom .menu-toggle:focus {
  outline: none;
  color: var(--theme-color) !important;
}
.parentClass nav.navbar.border-bottom .menu-toggle:focus {
  fill: currentColor !important;
}
@media screen and (max-width: 768px) {
  .parentClass nav.navbar.border-bottom {
    padding: 14px;
  }
}

.parentClass aside {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E1E1E1;
  background-color: #fff;
  color: #343434;
  width: 61px;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  padding: 8px;
  transition: 0.2s ease-in-out;
}
.parentClass aside .flex {
  flex: 1 1 0%;
}
.parentClass aside .logo {
  margin-bottom: 1rem;
}
.parentClass aside .logo img {
  width: 2rem;
}
.parentClass aside .menu-item .text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.parentClass aside .menu:first-child {
  margin-top: 80px;
}
.parentClass aside .menu {
  margin: 0;
}
.parentClass aside .menu > ul {
  list-style: none;
  padding: 0px;
}
.parentClass aside .menu > ul > li:not(:last-child) {
  margin-bottom: 4px;
}
.parentClass aside .menu .menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #343434;
  gap: 17px;
  transition: 0.2s ease-in-out;
  padding-left: 0px;
  min-height: 36px;
}
.parentClass aside .menu .menu-item.active {
  box-shadow: 0 0 0 100px var(--main-color-book) inset;
  border-radius: 8px;
  color: #fff;
}
.parentClass aside .menu .menu-item .menu-icon {
  fill: currentColor;
  margin-inline-start: 9px;
}
.parentClass aside .menu .menu-item .icon.icon-menu-space,
.parentClass aside .menu .menu-item .icon.icon-menu-misuse,
.parentClass aside .menu .menu-item .icon.icon-menu-feature,
.parentClass aside .menu .menu-item .icon.icon-menu-palette {
  fill: none;
  stroke: currentColor;
}
.parentClass aside .menu .menu-item .text {
  color: currentColor;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0s, 250ms;
  font-size: 14px;
  font-weight: var(--secFontWeight);
  line-height: 1.2;
  text-align: left;
  width: -moz-max-content;
  width: max-content;
  word-break: keep-all;
  white-space: nowrap;
}
.parentClass aside .powered {
  font-weight: var(--secFontWeight);
  line-height: 1.2;
  text-align: left;
  gap: 2px;
  margin-bottom: 14px;
  font-size: 0px;
  opacity: 0;
}
.parentClass aside .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.25) !important;
  margin: 0 -8px;
  padding: 16px 8px 8px;
}
.parentClass aside.is_expanded {
  width: 220px;
}
.parentClass aside.is_expanded .menu-item .text {
  opacity: 1;
}
.parentClass aside.is_expanded .powered {
  font-size: 8px;
  opacity: 0.5;
}
@media screen and (max-width: 1200px) {
  .parentClass aside {
    position: sticky;
    top: 0px;
  }
}
@media (max-width: 1024px) {
  .parentClass aside {
    position: fixed;
    z-index: 99;
    top: 0px;
    bottom: 0px;
  }
}

@media screen and (max-height: 700px) {
  .parentClass aside .menu:first-child {
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.parentClass .btn {
  display: flex;
  align-items: center;
  transition: all 300ms linear;
  font-weight: var(--secFontWeight);
}

.parentClass .main-btn {
  background-color: var(--main-color-book);
  padding: 0 16px;
  min-height: 38px;
  border-radius: 45px;
  border: 0px solid;
  font-size: 16px;
  font-weight: calc(var(--secFontWeight) + 100);
  text-align: left;
  color: #FFFFFF;
}
.parentClass .main-btn:hover {
  background-color: #000;
  color: #FFFFFF;
}
.parentClass .main-btn svg {
  fill: currentColor;
}

.parentClass .sec-btn {
  border: 1px solid #000000;
  background-color: #fff;
  font-size: 16px;
  font-weight: calc(var(--secFontWeight) + 100);
  text-align: left;
  gap: 5px;
  padding: 0 16px;
  min-height: 38px;
  border-radius: 45px;
}
.parentClass .sec-btn:hover {
  border-color: var(--main-color-book);
  color: var(--main-color-book);
}
.parentClass .sec-btn svg {
  fill: currentColor;
}

.parentClass .third-btn {
  border: 1px solid #000000;
  background: #ECECEC;
  font-size: 16px;
  font-weight: calc(var(--secFontWeight) + 100);
  text-align: left;
  gap: 5px;
  padding: 0 16px;
  min-height: 38px;
  border-radius: 45px;
}
.parentClass .third-btn svg {
  fill: currentColor;
}
.parentClass .third-btn:hover {
  border-color: var(--main-color-book);
  color: var(--main-color-book);
}

.parentClass .brandbooks {
  font-weight: calc(var(--secFontWeight) + 100);
  color: #000;
}

.parentClass .section-book {
  padding: 88px 0px 0px 98px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .parentClass .section-book {
    min-height: unset;
  }
}
@media screen and (max-width: 992px) {
  .parentClass .section-book {
    padding: 60px 20px 40px 80px;
  }
}
.parentClass .section-book .content {
  max-width: 550px;
}
.parentClass .section-book#versions-book .content, .parentClass .section-book#logo-book .content, .parentClass .section-book#values-book .content, .parentClass .section-book#space-book .content, .parentClass .section-book#palette-book .content, .parentClass .section-book#fonts-book .content {
  max-width: 660px;
}
.parentClass .section-book#proportions-book .content {
  max-width: 720px;
}
.parentClass .section-book .bg {
  font-family: var(--mainFont);
  color: #f2f2f2;
  font-size: 629.97px;
  font-weight: var(--mainFontWeight);
  line-height: 482.97px;
  text-align: left;
  position: absolute;
  z-index: -1;
  left: 0px;
  bottom: 0px;
}
.parentClass .section-book .bg-img {
  position: absolute;
  z-index: -10;
  left: -100px;
  top: -150px;
}
.parentClass .section-book .bg-img svg {
  fill: #F2F2F2;
}
.parentClass .section-book .favicon-block-wrapper svg * {
  fill: #fff !important;
}

.parentClass #brand-designer,
.parentClass #designer-book {
  padding: 105px 93px 136px;
  background: #F2F2F2;
}
.parentClass #brand-designer .content,
.parentClass #designer-book .content {
  max-width: 820px;
}
@media screen and (max-width: 992px) {
  .parentClass #brand-designer,
  .parentClass #designer-book {
    padding: 60px 20px 40px 80px;
  }
}

.parentClass .simple-pantone-color {
  min-width: 170px;
}

.parentClass .simple-pantone-color .pantone-color-wrap {
  width: 137px;
  height: 248px;
  padding: 8px 8px 42px;
  border: 1.3px solid #c5c3c3;
  box-shadow: 5.2px 5.2px 19.51px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 0 auto 9px;
}

.parentClass .simple-pantone-color .color-name {
  font-size: 13.05px;
  font-weight: var(--secFontWeight);
  line-height: 23.3px;
  text-align: center;
}

.parentClass .simple-pantone-color .color-value {
  display: grid;
  grid-template-columns: auto 60%;
  gap: 4px 13px;
  margin-top: 8px;
  max-width: 170px;
}

.parentClass .simple-pantone-color .color-value .name {
  font-size: 10px;
  font-weight: var(--secFontWeight);
  line-height: 20px;
  text-align: right;
  color: #999;
}

.parentClass .simple-pantone-color .color-value .value {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  text-wrap: wrap;
}

.parentClass .add-pantone-color {
  min-width: 170px;
}

.parentClass .add-pantone-color .pantone-color-wrap {
  width: 137px;
  height: 248px;
  padding: 8px 8px 42px;
  border: 1.3px solid #c5c3c3;
  box-shadow: 5.2px 5.2px 19.51px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 0 auto 9px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.parentClass .add-pantone-color .shade {
  height: 30px;
}

.parentClass .add-pantone-color .color-name {
  font-size: 13.05px;
  font-weight: var(--secFontWeight);
  line-height: 23.3px;
  text-align: center;
}

.parentClass .add-pantone-color .color-value {
  display: grid;
  grid-template-columns: auto 60%;
  gap: 4px 13px;
  margin-top: 8px;
  max-width: 170px;
}

.parentClass .add-pantone-color .color-value .name {
  font-size: 10px;
  font-weight: var(--secFontWeight);
  line-height: 20px;
  text-align: right;
  color: #999;
}

.parentClass .add-pantone-color .color-value .value {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  text-wrap: wrap;
}

.parentClass .hex-inside {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  font-weight: var(--secFontWeight);
  line-height: 0.1;
  text-align: center;
  color: #fff;
  top: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.parentClass .shade .hex-inside {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  position: unset;
  transform: none;
  align-items: center;
  justify-content: center;
}

.parentClass .pantone-color-wrap > .shade ~ .input-group + .hex-inside,
.parentClass .simple-pantone-color .hex-inside {
  top: 36%;
  position: absolute;
  font-size: 14px;
}

.parentClass .pantone-color-wrap {
  position: relative;
}

.parentClass .pantone-color-wrap > .shade ~ .input-group {
  max-height: calc(100% - 96px);
}

.parentClass .font-block {
  margin-top: 150px;
}
@media screen and (max-width: 992px) {
  .parentClass .font-block {
    margin-top: 50px;
  }
}
.parentClass .font-block .group-samples {
  margin-top: 52px;
  gap: 52px;
}
@media screen and (max-width: 992px) {
  .parentClass .font-block .group-samples {
    margin-top: 25px;
    gap: 25px;
  }
}
.parentClass .font-block .font-name {
  font-size: 46px;
  font-weight: var(--secFontWeight);
  line-height: 33.5px;
  text-align: left;
}
.parentClass .font-block .font-value {
  font-size: 16px;
  font-weight: var(--secFontWeight);
  text-align: left;
}
.parentClass .font-block .font-weight-name {
  font-style: italic;
  font-weight: calc(var(--secFontWeight) + 100);
}
.parentClass .font-block .first-letter {
  font-size: 34.77px;
  text-align: center;
  min-width: 97px;
  min-height: 68px;
  border-right: 2px solid #000;
}
@media screen and (max-width: 992px) {
  .parentClass .font-block .first-letter {
    border-right: 0px solid #000;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
  }
}
.parentClass .font-block .first-letter .company-name {
  font-size: 11.92px;
  line-height: 16.75px;
  text-align: center;
}
.parentClass .font-block .font-sample {
  color: #58585A;
}
@media screen and (max-width: 992px) {
  .parentClass .font-block .alphabet {
    font-size: 16px;
  }
}

.parentClass .modal .modal-header {
  border-color: #E1E1E1;
}
.parentClass .modal .btn-close {
  opacity: 1;
  top: 16px;
  right: 20px;
  background-image: url('data:image/svg+xml,%3Csvg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1.17396 1.23472L24.9476 26.2595M24.2671 1.86011L1.17396 25.6341" stroke="black" stroke-width="3"/%3E%3C/svg%3E');
  background-color: transparent;
  border: 0px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
}
.parentClass .modal .block-divide {
  position: relative;
  padding: 20px 0;
}
.parentClass .modal .block-divide:before, .parentClass .modal .block-divide:after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #E1E1E1;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 0px;
  bottom: 0px;
}
@media (max-width: 1200px) {
  .parentClass .modal .block-divide:before, .parentClass .modal .block-divide:after {
    content: none;
  }
}
.parentClass .modal .block-divide:after {
  top: auto;
  height: 1px;
  width: calc(100% + 60px);
  left: -30px;
}
.parentClass .modal .sec-block-divide > .col:first-child {
  position: relative;
}
.parentClass .modal .sec-block-divide > .col:first-child:before {
  content: "";
  height: 1px;
  width: calc(100% + 30px);
  background-color: #E1E1E1;
  top: calc(100% + 1px);
  position: absolute;
  left: 0;
  right: 0px;
  order: 1;
}
@media (max-width: 1200px) {
  .parentClass .modal .sec-block-divide > .col:first-child:before {
    content: none;
  }
}
.parentClass .modal .icon-official {
  color: var(--main-color-book);
}

@media (min-width: 1200px) {
  .parentClass .modal-1000 {
    --bs-modal-width: 1000px;
    max-width: 1000px;
  }
  .parentClass .modal-1000 .modal-body {
    padding: 0px 30px;
  }
  .parentClass .modal-1000 .modal-content {
    border-radius: 28px;
  }
}
@media (max-width: 1200px) {
  .parentClass .modal-1000 .changeable {
    border-top: 1px solid #E1E1E1;
  }
  .parentClass .modal-1000 .changeable .border-end {
    border-right: 0px solid transparent !important;
  }
}
body .parentClass {
  --vs-colors--lightest: rgba(60, 60, 60, 0.26);
  --vs-colors--light: rgba(60, 60, 60, 0.5);
  --vs-colors--dark: #333;
  --vs-colors--darkest: rgba(0, 0, 0, 0.15);
  /* Search Input */
  --vs-search-input-color: inherit;
  --vs-search-input-bg: rgb(255, 255, 255);
  --vs-search-input-placeholder-color: inherit;
  /* Font */
  --vs-font-size: 14px;
  --vs-line-height: 1.5;
  /* Disabled State */
  --vs-state-disabled-bg: rgb(248, 248, 248);
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;
  /* Borders */
  --vs-border-color: #000;
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 34px;
  /* Actions: house the component controls */
  --vs-actions-padding: 4px 6px 0 3px;
  /* Component Controls: Clear, Open Indicator */
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;
  /* Selected */
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);
  /* Dropdown */
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: inherit;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 160px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);
  /* Options */
  --vs-dropdown-option-bg: #000;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;
  /* Active State */
  --vs-dropdown-option--active-bg: var(--main-color-book);
  --vs-dropdown-option--active-color: #fff;
  /* Deselect State */
  --vs-dropdown-option--deselect-bg: #fb5858;
  --vs-dropdown-option--deselect-color: #fff;
  /* Transitions */
  --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  --vs-transition-duration: 150ms;
}
body .parentClass .v-select {
  font-size: 14px;
}
body .parentClass .vs__dropdown-toggle {
  padding: 0 16px;
  height: 30px;
}
body .parentClass .vs--single .vs__selected,
body .parentClass .vs__selected-options,
body .parentClass .vs__search {
  padding: 0px !important;
  margin: 0px !important;
}
body .parentClass .vs__open-indicator {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.82733 4.88848L0.913934 2.23994C0.237605 1.6251 0.672575 0.5 1.58661 0.5L7.41339 0.5C8.32743 0.5 8.76239 1.6251 8.08606 2.23994L5.17267 4.88848C4.79125 5.23523 4.20875 5.23523 3.82733 4.88848Z' fill='black'/%3e%3c/svg%3e ");
  fill: transparent;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
}
body .parentClass .vs__clear {
  display: none;
}
body .parentClass .vs--open .vs__dropdown-toggle {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
body .parentClass .vs__dropdown-menu {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.parentClass .proportions-block {
  display: flex;
}
.parentClass .proportions-block .logo-proportions,
.parentClass .proportions-block .logo-proportions svg {
  width: 100%;
  height: 100%;
}
.parentClass .proportions-block .proportions-element {
  border: 1px solid #808080;
}
.parentClass .proportions-block .proportions-top-arrow {
  height: 50px !important;
  margin-bottom: 20px;
  text-align: center;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  position: relative;
  background-image: linear-gradient(to right, #808080, #808080);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.parentClass .proportions-block .proportions-top-arrow::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.00024 -1.39045e-07L0.402168 9L5.59832 9L3.00024 -1.39045e-07Z' fill='%23808080'/%3e%3c/svg%3e ");
  top: 50% !important;
  position: absolute;
  left: 0%;
  transform: translateY(-50%) rotate(-90deg);
}
.parentClass .proportions-block .proportions-top-arrow::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.00024 -1.39045e-07L0.402168 9L5.59832 9L3.00024 -1.39045e-07Z' fill='%23808080'/%3e%3c/svg%3e ");
  top: 50% !important;
  position: absolute;
  right: 0%;
  transform: translateY(-50%) rotate(90deg);
}
.parentClass .proportions-block .proportions-left-arrow {
  margin-top: auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 50px !important;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  position: relative;
  background-image: linear-gradient(to right, #808080, #808080);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.parentClass .proportions-block .proportions-left-arrow::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.00024 -1.39045e-07L0.402168 9L5.59832 9L3.00024 -1.39045e-07Z' fill='%23808080'/%3e%3c/svg%3e ");
  top: -9px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.parentClass .proportions-block .proportions-left-arrow::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.00024 -1.39045e-07L0.402168 9L5.59832 9L3.00024 -1.39045e-07Z' fill='%23808080'/%3e%3c/svg%3e ");
  bottom: -9px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
.parentClass .proportions-icon .proportions-top-arrow {
  margin: 0px !important;
  height: 30px !important;
  background-position: top 4px center;
}
.parentClass .proportions-icon .proportions-top-arrow span {
  top: -20px;
  position: relative;
}
.parentClass .proportions-icon .proportions-top-arrow::before, .parentClass .proportions-icon .proportions-top-arrow::after {
  top: 4.36px !important;
}
.parentClass .proportions-icon .proportions-left-arrow {
  text-align: right;
  justify-content: end;
  width: 30px !important;
  background-position: right 4px center;
}
.parentClass .proportions-icon .proportions-left-arrow span {
  right: -14px;
  position: relative;
}
.parentClass .proportions-icon .proportions-left-arrow::before {
  right: -12px !important;
}
.parentClass .proportions-icon .proportions-left-arrow::after {
  left: 26px !important;
}/*# sourceMappingURL=main.css.map */